{% extends "inventory/base.html" %}
{% block content %}
<div class="vehicle-card" style="max-width:500px;margin:auto;">
    <h2>Booking Successful 🎉</h2>

    <p><strong>Booking ID:</strong> {{ booking.id }}</p>
    <p><strong>Vehicle:</strong> {{ booking.vehicle.brand }} {{ booking.vehicle.name }}</p>
    <p><strong>Customer:</strong> {{ booking.customer_name }}</p>
    <p><strong>Phone:</strong> {{ booking.customer_phone }}</p>
    <p><strong>From:</strong> {{ booking.start_date }}</p>
    <p><strong>To:</strong> {{ booking.end_date }}</p>
    <p><strong>Total:</strong> ₹{{ booking.total_amount }}</p>

    <br>
    <a href="{% url 'inventory:vehicle_list' %}" class="btn">Back to Vehicles</a>
</div>
{% endblock %}
